{% extends 'base.html' %}
{% load static %}
{% block title %}Meet Our Team{% endblock %}
{% block body %}
    <div class="">
        <div class="bg-team">
            <div class="text-centered w-60 md:w-80 xs:w-80 mx-auto text-white ">
                <h3 class="text-center md:text-2xl xs:text-2xl text-grey-dark-bf">
                    "Coming together is a beginning. Keeping together is progress. Working together is success."
                   <span class="text-sm"><br>--Henry Ford</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="text-black mt-2">
            <h2 class="text-black text-centered xs:text-2xl">Our Background</h2>
            <div class="row col-lg-12 xl:pt-3 xl:mt-3">
                <div class="col-lg-6">
                    <h3 class="my-2 p-2 xs:text-3xl">Who we are??</h3>
                    <p class="pt-3 xs:text-lg">
                        Agatike developers is team similique fuga deleniti assumenda. Quisquam ea corrupti laudantium assumenda.
                        A expedita facilis enim et sequi sit similique fuga deleniti assumenda. Quisquam ea corrupti laudantium assumenda.
                    </p>
                </div>
                <div class="col-lg-6 pb-4">
                    <img class="" src="{% static 'tickets/image/comming soon.png' %}">
                </div>
            </div>
        </div>
        <div>
            <h2 class="pt-3 text-centered">Our Team</h2>
            <div class="w-100 mx-auto xl:flex md:flex py-4">
                <div class="xl:w-25 md:w-25 md:mx-1 xs:w-100 xl:mx-2 xs:my-2 px-4 py-3 rounded bg-white-smoke shadow">
                    <div class="h-px-200 md:h-px-50 w-90 xs:w-80 mx-auto">
                        <img class="clip-full rounded-full shadow-lg" src="{% static 'tickets/image/WhatsApp Image 2019-04-24 at 22.42.53 (1).jpeg' %}">
                    </div>
                    <div class="pt-2">
                        <h1 class="text-2xl md:text-sm text-center">Ami Fidele Nimana</h1>
                        <p class="text-xl md:text-sm text-center">Founder</p>
                    </div>
                </div>
                <div class="xl:w-25 md:w-25 md:mx-1 xs:w-100 xl:mx-2 xs:my-2 px-4 py-3 rounded bg-white-smoke shadow">
                    <div class="h-px-200 w-90 xs:w-80 mx-auto">
                        <img class="clip-full rounded-full" src="{% static 'tickets/image/moise muhire.jpg' %}">
                    </div>
                    <div class="pt-2">
                        <h1 class="text-2xl md:text-sm text-center">Moise Muhire</h1>
                        <p class="text-xl md:text-sm text-center">F. Developer & C.C</p>
                    </div>
                </div>
                <div class="xl:w-25 md:w-25 md:mx-1 xs:w-100 xl:mx-2 xs:my-2 px-4 py-3 rounded bg-white-smoke shadow">
                    <div class="h-px-200 w-90 xs:w-80 mx-auto">
                        <img class="clip-full rounded-full" src="{% static 'tickets/image/ineza_benito.jpg' %}">
                    </div>
                    <div class="pt-2">
                        <h1 class="text-2xl md:text-sm text-center">Benito Ineza</h1>
                        <p class="text-xl md:text-sm text-center">Marketing & C.C<span class="text-sm"></span></p>
                    </div>
                </div>
                <div class="xl:w-25 md:w-25 md:mx-1 xs:w-100 xl:mx-2 xs:my-2 px-4 py-3 rounded bg-white-smoke shadow">
                    <div class="h-px-200 w-90 xs:w-80 mx-auto">
                        <img class="clip-full rounded-full" src="{% static 'tickets/image/ineza_benito.jpg' %}">
                    </div>
                    <div class="pt-2">
                        <h1 class="text-2xl text-center md:text-sm">Derrick Mugenga</h1>
                        <p class="text-xl text-center md:text-sm">Marketing & Sales</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center">
        <h2 class="">Our Happy Patners</h2>
        <div class="flex">
            <div class="w-20">

            </div>
        </div>
    </div>

{% endblock %}