{% extends 'base_layout.html' %}
{% load static %}
{% block title %}Affiliate Help{% endblock %}
{% block body %}
    <div class="col-lg-12 bg-default flex">
        <div class="col-lg-5 mt-24 mx-auto">
            <h1 class="text-4xl">Let us be great parteners now.</h1>
            <p class="pt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores reiciendis ad voluptas, animi obcaecati adipisci sapiente mollitia.
            </p>
        </div>
        <div class="col-lg-5 mx-auto">
            <img class="w-80 pt-5 pl-5" src="{% static 'tickets/image/' %}images/two-men-stand.png">
        </div>
    </div>
    <div class="container">
        <div>
            <h2 class="p-4 text-centered text-4xl">Here is what we do??</h2>
            <div class="row">
                <div class="row col-lg-4">
                    <div class="w-15">
                        <img class="" src="{% static 'tickets/image/' %}img/svg/hand-money.svg">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Free listing of customers</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
                <div class="row col-lg-4 mx-4">
                    <div class="w-15">
                        <img class="" src="{% static 'tickets/image/profile.svg' %}">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Help in advertisment</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
                <div class="row col-lg-4">
                    <div class="w-15">
                        <img class="" src="{% static 'tickets/image/organizer.svg' %}">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Help in advertisment</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="row col-lg-4">
                    <div class="w-15">
                        <img class="" src="img/svg/hand-money.svg">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Free listing of customers</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
                <div class="row col-lg-4 mx-4">
                    <div class="w-15">
                        <img class="" src="{% static 'tickets/image/profile.svg' %}">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Help in advertisment</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
                <div class="row col-lg-4">
                    <div class="w-15">
                        <img class="" src="{% static 'tickets/image/organizer.svg' %}">
                    </div>
                    <div class="w-85">
                        <h2 class="text-lg pl-3 text-blue hover:underline cursor-pointer">Help in advertisment</h2>
                        <p class="text-sm pl-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-bottom bg-default"></div>
        <div class="pb-5">
            <h2 class="text-centered p-4">Our terms and conditions for new users.</h2>
            <div class="row">
                <div class="col-lg-6 pt-4">
                    <img src="images/parallax-service2.png">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-0">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="col-lg-10">
                            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla fugiat!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-0">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="col-lg-10">
                            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla fugiat!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-0">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="col-lg-10">
                            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla fugiat!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey mb-5">
        <h2 class="text-centered pt-4">All you have to do is??</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="w-50 mx-auto">
                        <img class="" src="{% static 'tickets/image/user_account.svg' %}">
                    </div>
                    <div class="text-centered">
                        <h2 class="text-2xl ">Sign up an account</h2>
                        <p class="text-sm pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="w-50 mx-auto">
                        <img class="" src="{% static 'tickets/image/user_account.svg' %}">
                    </div>
                    <div class="text-centered">
                        <h2 class="text-2xl ">Sign up an account</h2>
                        <p class="text-sm pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="w-50 mx-auto">
                        <img class="" src="{% static 'tickets/image/user_account.svg' %}">
                    </div>
                    <div class="text-centered">
                        <h2 class="text-2xl ">Sign up an account</h2>
                        <p class="text-sm pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="w-50 mx-auto">
                        <img class="" src="{% static 'tickets/image/user_account.svg' %}">
                    </div>
                    <div class="text-centered">
                        <h2 class="text-2xl ">Sign up an account</h2>
                        <p class="text-sm pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}