{% extends 'base_menu.html' %}
{% block title %}Blog | Agatike{% endblock %}
{% block body %}
    <div class="bg">
        <div class="row">
            <div class="container text-white relative mt-24">
                <div class="col-lg-6">
                    <h1 class="pb-2"><strong>Our Blog</strong></h1>
                    <p class="pb-60 text-lg">
                        Here is a selection of our stories. They focus on latest news from our team, and also our thoughts on international events and how they are impacting the solutions we deliver.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>

    <div class="w-80 mx-auto">
        <div>
            <h2 class="text-centered pt-5">Latest updates</h2>
            <div class="row mt-8">
               <div class="w-30">
                   <div>
                       <img class="" src="img/image002.jpg">
                   </div>
                   <div class="py-2">
                       <h4 class="font-bold text-xl">ICT:Think your job won't be automated?</h4>
                       <p>The fundamental fabric of Sysdoc is delivering value and providing an excellent service to all our customers. We have 30 years of history...</p>
                   </div>
               </div>
            </div>
        </div>


        <div class="row mb-5 mt-8 pl-3">
            <div class="row w-50">
                <div class="w-40 mb-5">
                    <img src="images/OCTBACK.png" class="">
                </div>
                <div class="w-60 pl-4">
                    <h3 class="text-lg font-bold">Think your job won't be automated?</h3>
                    <p class="text-sm">
                        Jobs, careers and entire professions are under threat. Who knows the speed change will take place? The technologies...
                    </p>
                    <i class="fas fa-arrow-right hover:underline">  Read more</i>
                </div>
            </div>

    </div>
    </div>
{% endblock %}